<p-listbox [options]="items" [(ngModel)]="aSelectedItems" optionLabel="sName" [multiple]="true" [filter]="true">
  <ng-template let-item pTemplate="header">
    <h2 class="text-right">רשימת {{ list?.sName }}</h2>
    <div>
      <button *ngIf="bShowTrash" (click)="removeItems()" pButton type="button"
        class="p-button-text p-button-rounded p-button-danger" icon="pi pi-trash"></button>
      <button *ngIf="bShowCheck" (click)="onMarkChecked()" pButton type="button" class="p-button-text p-button-rounded"
        icon="pi pi-check"></button>
      <button *ngIf="bShowUnCheck" (click)="onItemsUnCheck()" pButton type="button"
        class="p-button-text p-button-rounded" icon="pi pi-undo"></button>
      <button *ngIf="bShowAdd" pButton type="button" class="p-button-text p-button-rounded p-button-secondary mr-1"
        icon="pi pi-plus" (click)="onAddItem()"></button>
    </div>
  </ng-template>
  <ng-template let-item pTemplate="item">
    <ng-template let-group pTemplate="group">
      <div>{{group}}</div>
    </ng-template>
    <div *ngIf="items.length > 0" [ngClass]="item.bChecked ? 'checked' : 'unchecked'">{{item.sName}}</div>
    <div *ngIf="items.length > 0" [ngClass]="item.bChecked ? 'checked' : 'unchecked'">{{item.iAmount}}</div>
  </ng-template>
</p-listbox>
