<p-listbox [options]="items" [(ngModel)]="aSelectedItems" optionLabel="sName" [multiple]="true" [filter]="true">
  <ng-template let-item pTemplate="header">
    <div>
      <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
      <button pButton class="p-button-text p-button-rounded p-button-primary" icon="pi pi-ellipsis-v"
        (click)="menu.toggle($event)"></button>
    </div>
    <div class="mr-auto">
      <button *ngIf="bShowTrash" (click)="removeItems()" pButton type="button"
        class="p-button-text p-button-rounded p-button-danger" icon="pi pi-trash"></button>
      <button *ngIf="bShowCheck" (click)="onMarkChecked()" pButton type="button" class="p-button-text p-button-rounded"
        icon="pi pi-check"></button>
      <button *ngIf="bShowUnCheck" (click)="onItemsUnCheck()" pButton type="button"
        class="p-button-text p-button-rounded" icon="pi pi-undo"></button>
      <button *ngIf="bShowItemEdit" pButton type="button" class="p-button-text p-button-rounded p-button-secondary"
        icon="pi pi-pencil" (click)="onItemEdit()"></button>
      <button *ngIf="bShowAdd" pButton type="button" class="p-button-text p-button-rounded p-button-secondary mr-1"
        icon="pi pi-plus" (click)="onAddItem()"></button>
    </div>
  </ng-template>
  <ng-template let-item pTemplate="item">
    <ng-template let-group pTemplate="group">
      <div>{{group}}</div>
    </ng-template>
    <div *ngIf="items.length > 0" [ngClass]="item.bChecked ? 'checked' : 'unchecked'">{{item.sName}}</div>
    <div *ngIf="items.length > 0" [ngClass]="item.bChecked ? 'checked' : 'unchecked'">{{item.iAmount }}
      <ng-container *ngIf="item.sUnit"> {{ item.sUnit | unitTypes }} </ng-container>
    </div>
  </ng-template>
</p-listbox>
