<p-listbox [options]="items" [(ngModel)]="selectedItems" optionLabel="sName" [multiple]="true" [filter]="true"
  (ngModelChange)="onSelect()">
  <ng-template let-item pTemplate="header">
    <h2 class="text-right">רשימת {{ list?.sName }}</h2>
    <div>
      <button *ngIf="bShowTrash" (click)="removeItems()" pButton type="button" class="p-button-rounded p-button-danger"
        icon="pi pi-trash"></button>
      <button pButton type="button" class="p-button-rounded p-button-secondary mr-1" icon="pi pi-plus"
        (click)="onAddItem()"></button>
    </div>
  </ng-template>
  <ng-template let-item pTemplate="item">
    <ng-template let-group pTemplate="group">
      <div>{{group}}</div>
    </ng-template>
    <div *ngIf="items.length > 0">{{item.sName}}</div>
    <div *ngIf="items.length > 0">{{item.iAmount}}</div>
  </ng-template>
</p-listbox>

<gl-spinner></gl-spinner>
