<button pButton type="button" class="p-button-raised p-button-primary w-100 mb-1" icon="pi pi-plus"
  (click)="onAddList()">הוספת רשימה</button>
<p-accordion *ngIf="lists.length > 0" expandIcon="pi pi-fw pi-chevron-left" [(activeIndex)]="iCurrentIndex">
  <p-accordionTab *ngFor="let list of lists; let i = index" (selectedChange)="onChangeList(i)">
    <ng-template pTemplate="header">
      {{ list.sName }}
    </ng-template>
    <ng-template pTemplate="content">
      <gl-listbox [list]="list"></gl-listbox>
    </ng-template>
  </p-accordionTab>
</p-accordion>
