<p-tabView [(activeIndex)]="iTabIndex">
  <p-tabPanel>
    <ng-template pTemplate="header"><i class="pi pi-list"></i></ng-template>
    <ng-template pTemplate="content">
      <gl-lists [user]="user" [lists]="usersLists"></gl-lists>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header"><i class="pi pi-users"></i></ng-template>
    <ng-template pTemplate="content">
      <gl-lists [user]="user" [lists]="publicLists"></gl-lists>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <img *ngIf="user" [src]="user.sProfilePic" class="profile-pic" alt="">
    </ng-template>
    <ng-template pTemplate=" content">
      <div>
        <button pButton class="p-button-outlined p-button-secondary" icon="pi pi-google" style="width: 100%"
          (click)="onLogout()">
          <span class="ml-2">התנתקות</span>
        </button>
      </div>
    </ng-template>
  </p-tabPanel>
</p-tabView>