<p-tabView [(activeIndex)]="iTabIndex">
  <p-tabPanel>
    <ng-template pTemplate="header"><i class="pi pi-list"></i></ng-template>
    <ng-template pTemplate="content">
      <gl-lists [user]="user" [lists]="usersLists"></gl-lists>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header"><i class="pi pi-share-alt"></i></ng-template>
    <ng-template pTemplate="content">
      <gl-lists [user]="user" [lists]="publicLists"></gl-lists>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header"><i class="pi pi-unlock"></i></ng-template>
    <ng-template pTemplate=" content">
      Complex Content to Lazy Load
    </ng-template>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header"><i class="pi pi-user"></i></ng-template>
    <ng-template pTemplate=" content">
      <gl-profile></gl-profile>
    </ng-template>
  </p-tabPanel>
</p-tabView>
