::ng-deep {
  div.p-tabview-nav-content>ul.p-tabview-nav {
    align-items: center;
    justify-content: space-between;

    li:nth-child(3) {
      a {
        padding: 6px !important;
      }
    }
  }
}
