/* You can add global styles to this file, and also import other style files */

* {
  direction: rtl;
  box-sizing: border-box;
}

body {
  //   margin: 0;
  //   padding: 0;
}

.text-right {
  text-align: right;
}


// FORMS
.p-float-label label {
  right: .5rem
}


// SPACING
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mb-1 { margin-bottom: 1rem;}
.mb-2 { margin-bottom: 2rem;}
.mb-3 { margin-bottom: 3rem;}
.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 2rem; }
.mr-3 { margin-right: 3rem; }
.ml-1 { margin-right: 1rem; }
.ml-2 { margin-right: 2rem; }
.ml-3 { margin-right: 3rem; }
