/* You can add global styles to this file, and also import other style files */
@import './assets/scss/form.scss';

* {
  direction: rtl;
  box-sizing: border-box;
}

.p-listbox .p-listbox-header {
  padding: 0.5rem 1rem;
}

.pointer {
  cursor: pointer;
}

// FLEX
.flex {
  display: flex;
}

.justify-end {
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

.p-dialog-mask {
  background-color: rgba(82, 82, 82, 0.364);
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

// FORMS
.p-float-label label {
  right: .5rem
}

// input group reverse becasue using rtl
.p-inputgroup button:last-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.p-inputgroup input:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

// MENU
.p-menuitem-icon {
  margin-left: 1rem;
}


// SPACING
.mr-auto {
  margin-right: auto;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

// WIDTH
.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

// DISPLAY
.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

img.profile-pic {
  width: 43px;
  height: 43px;
  border: 3px solid #6366F1;
  padding: 0;
  border-radius: 50%;
}

// TABS
.p-tabview .p-tabview-panels {
  padding: 0;
  margin-top: 10px;
}

.p-accordion .p-accordion-content {
  padding: 0.5rem;
}
