<div class="mt-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" pFocusTrap>
    <span class="p-float-label mb-2">
      <input pInputText type="text" formControlName="sName" autofocus>
      <label for="sName">שם פריט</label>
    </span>
    <span class="p-float-label mb-2">
      <input pInputText type="number" formControlName="iAmount">
      <label for="iAmount">כמות</label>
    </span>
    <button pButton type="submit" class="p-button-raised float-left" [disabled]="form.invalid">הוספה</button>
  </form>
</div>
